body{
  font-family: 'Roboto', sans-serif;
}

a{
  cursor: pointer;
}

input:focus{
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

li{
  text-decoration: none;
  list-style: none;
}

a{
  color: #2b313f;
}

a:hover {
  color: #2b313f;
  text-decoration: none;
}

a:focus {
  box-shadow: none;
  outline: none;
}



.black{
  border-color: #000;
}

.glyphicon-cog{
  color: #b7bbc4;
}

.wrapper{
  position: relative;
  display: block;
}


.left-panel {
  background: #f4f4f4;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  min-height: 574px;
  z-index: 4;
  border-right: 1px solid rgba(0, 0, 0, .10);
}

.right-panel {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  min-height: 574px;
  z-index: 4;
  border-left: 1px solid rgba(0, 0, 0, .10);
}

.left-panel-header{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  box-sizing: border-box;
  text-align: center;
}

.right-panel-header{
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  box-sizing: border-box;
  text-align: center;
  padding: 14px 25px 14px 25px;
  position: fixed;
  z-index: 9;
}

.navbar-default{
  background: #f4f4f4;
}

.grey-bg{
  background: #f8f8f8;
}

.navbar-brand{
  width: 260px;
  height: auto;
  padding: 12px 15px 12px 30px;
}

.agent-control{
  display: flex;
  padding: 14px 25px 14px 25px;
}

.navbar>.agent-control>.current-agent{
  width: 100%;
  vertical-align: middle;
}

.navbar{
  margin: none;
  border-radius: 0;
  border: 0;
}

.current-agent{
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.current-agent>span{
  font-weight: 400;
  font-size: 14px;
}

.dropdown-icon{
  color: #b7bbc4;
  position: relative;
  display: inline-block;
  height: 100%;
  font-size: 12px;
  margin-right: 15px;
  vertical-align: middle;
  padding: 4px 0px;
}

.settings-icon{
  position: relative;
  display: inline-block;
  height: 100%;
  font-size: 20px;
  vertical-align: middle;
}

.vertical-divider{
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  display: flex;
  margin: 4px 25px 4px 25px;
}

.agent-control:hover{
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

.agent-dropdown{
  display: none;
  width: 100%;
  position: absolute;
  padding: 10px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 1000;
}

.agent-dropdown>li{
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 14px 25px 14px 25px;
}

.glyphicon-plus-sign{
  margin-right: 8px;
  color: #b7bbc4;
}

.glyphicon-list{
  margin-right: 8px;
  color: #b7bbc4;
}

.agent-dropdown>li:hover{
  cursor: pointer;
  color: #000;
  background-color: #E6E7E8;
}

.menu-listing{
  width: 100%;
}

.menu-listing>a>li{
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 14px 25px 14px 25px;
}

.header-icon-lg{
  width: 35px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  padding: 5px 0;
}

.intent-icon-sm{
  width: 22px;
  margin-right: 5px;
  position: relative;
  display:inline-block;
}

.entities-icon-sm{
  width: 22px;
  margin-right: 5px;
  position: relative;
  display:inline-block;
}

.menu-listing>a>li:hover{
  cursor: pointer;
  color: #000;
  font-weight: 500;
  background-color: #fff;
}

.menu-listing>li>.glyphicon{
  margin-right: 8px;
  font-size: 22px;
}

.menu-listing>li>span{
  vertical-align: middle;
}

.center-header{
  height: 80px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: initial;
  padding: 17px 30px 16px;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  z-index: 9;
}

.center-header>h1{
  font-weight: 400;
  font-size: 25px;
  padding-top: 8px;
  position: relative;
  vertical-align: middle;
}

.button{
  color: #fff;
  background-color: rgb(3,155,229);
  letter-spacing: .010em;
  display: inline-block;
  min-height: 40px;
  min-width: 88px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0 16px;
  white-space: nowrap;
  font-weight: 500;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  overflow: hidden;
  -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 5px;
}

.button:focus{
  text-decoration: none;
  outline: none;
}

.glyphicon-option-vertical{
  color: #b7bbc4;
  font-size: 18px;
  padding: 10px 5px;
  vertical-align: middle;
}

.work-area{
  padding: 100px 30px 25px 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.user-expression-table {
  position: relative;  
  border-top: 1px solid #dfe0e2;
  border-right: 1px solid #dfe0e2;
  border-left: 1px solid #dfe0e2;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  border: 1px solid #dfe0e2;
  display: flex;
}

.expression-input-table>span>.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  border-bottom: 1px solid #dfe0e2;
  display: flex;
}

.search-form {
  height: 49px;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 6px 22px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: flex;
}

.header-search-form {
  width: 100%;
  height: 49px;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.42857143;
  padding: 6px 15px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.search-icon-set{
  font-size: 20px;
  width: 60px;
  color: #b7bbc4;
  display: table-cell;
  vertical-align: middle;
  padding: 12px 0;
}

.glyphicon-search{
  margin-right: 5px;
  color: #b7bbc4;
}

.glyphicon-filter{
  margin-right: 5px;
  color: #b7bbc4;
}

.search-form:focus{
  box-shadow: none;
}

.list-group{
  margin: 10px 0;
  border: 1px solid #dfe0e2;
  border-bottom: 0px;
}

.list-box {
  position: relative;
  display: table;
  border-collapse: separate;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  border-bottom: 1px solid #dfe0e2;
  display: flex;
  height: 35px;
  font-size: 14px;
  padding: 6px 22px;
  font-weight: 300;
}

.fa-circle{
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 0;
}

.try-it-now{
  font-weight: 300; 
  min-width: 85%;
  height: 49px;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 6px 0px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.try-it-now:hover{
  border-bottom: 1px solid #dfe0e2;
}

.try-it-now:focus{
  box-shadow: none;
  border-bottom: 1px solid #0488da;
}

.fa-microphone{
  font-size: 22px;
  padding: 12px 5px;
}

.side-box{
  padding: 100px 30px 25px 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.side-box .text-box {
  font-weight: 300;
  width: auto;
  padding: 14px 43px 26px 20px;
  margin: 0 0 20px;
  background: #f4f5f5;
  line-height: 20px;
  position: relative;
}

.header-search-wrapper{
  width: 80%;
  display: flex;
  position: absolute;
  margin-right: 100px;
  margin-left: 40px;
}

.header-search-form:hover{
  border-bottom: 1px solid #dfe0e2;
}

.header-search-form:focus{
  box-shadow: none;
  border-bottom: 1px solid #0488da;
}

.dropdown:hover{
  cursor: pointer;
}

.dropdown-menu>li>a{
  padding: 12px 20px;
}



.dropdown-menu>li>a>i{
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 0; 
}

.status-circle{
  padding: 15px;
}

.current-status-circle{
  padding: 15px;
}

.fa-chevron-down{
  font-size: 12px;
  margin-right: 5px;
}

.fa-chevron-up{
  font-size: 12px;
  padding: 16px 5px;
}

.define-context-wrapper{
  margin-bottom: 35px;
}

.define-context{
  color: #0488da;
}

.contexts-icon{
  width: 24px;
  margin-right: 10px;
  padding: 12px 0;
}

.content-box{
  margin-bottom: 15px;
  display: block;
  position: relative;
  vertical-align: middle;
}

.head{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.head>h2{
  font-weight: 300;
  font-size: 20px;
  margin-right: 10px;
  padding: 12px 0;
}

.content-box>.input-group{
  margin-bottom: 15px;
}

.in-box{
  background-color: #b6bac3;
  display: inline-block;
  width: 33px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.out-box{
  background-color: #b6bac3;
  display: inline-block;
  width: 33px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.context-in-form{
  border: none;
  outline: none;
  font-weight: 300;
  vertical-align: middle;
  margin-bottom: 8px;
  margin-left: 15px;
  margin-top: 8px;
}

.context-out-form{
  border: none;
  outline: none;
  font-weight: 300;
  vertical-align: middle;
  margin-bottom: 8px;
  margin-left: 15px;
  margin-top: 8px;
}

.context-in-form:focus{
  box-shadow: none;
}

.context-wrapper{
  position: relative;
  vertical-align: middle;
}

.context-in{
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.context-out{
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.fa-quote-right{
  font-size: 18px;
  color: #b7bbc4;
  display: table-cell;
  vertical-align: middle;
  padding: 15px 12px;
}

.user-says-form {
  height: 49px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  padding: 15px 0px;
  padding-right: 15px; 
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: flex;
}

.action-name-form {
  height: 49px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  padding: 15px 12px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: flex;
}

.search-user-form {
  height: 38px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  padding: 12px 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: flex;
}

.search-user-form-wrapper{
  border: none;
  border-bottom: 1px solid #dfe0e2;
}

.search-user-form-wrapper>.glyphicon-search{
  font-size: 20px;
  padding: 10px 0;
  color: #b7bbc4;
}

.user-says-form:focus {
  box-shadow: none;
}

.action-name-form:focus {
  box-shadow: none;
}

.content-table {
  width: 100%;
  margin: 0 0 10px;
  border: 1px solid #dfe0e2;
}

.intent-parameters-table>thead{
  border-bottom: 1px solid #dfe0e2;
}

.content-table.intent-parameters-table {
  table-layout: fixed;
}

.content-table th {
  background: #f4f5f5;
  color: #9399a6;
  font-size: 11px;
  font-weight: 300;
  padding: 0 0 0 12px;
  height: 50px;
  word-wrap: break-word;
}

.content-table.intent-parameters-table th.param-required {
  width: 90px;
}

.content-table.intent-parameters-table th.param-is-list {
  width: 65px;
}

.content-table.intent-parameters-table th.param-actions {
    width: 70px;
}

.checkbox-container {
  display: flex;
  position: relative;
}

.checkbox{
  width: 20px;
  height: 20px;
  margin: 0;
  display: block;
  position: relative;
  vertical-align: middle;
}

.intent-parameters-table td {
  padding: 12px;
}

.padding-none{
  padding: 0px;
}



.intent-parameters-table>tbody{
  border-bottom: 1px solid #DFE0E2;
  background-color: #fff;
}

td>input {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: flex;
}

.param-name, .param-datatype, .param-datatype, .param-value, .param-edit{
  width: 22%;
}

.new-parameter {
  color: #0488da;
}

.new-suggestion {
  color: #0488da;
}

.new-text-response {
  color: #0488da;
}


.new-suggestion-wrapper, .new-text-response-wrapper {  
  margin-top: 10px;
}



.add-row-wrapper{
  margin-top: 10px;
  margin-bottom: 20px;
}

.add-row{
  color: #0488da;
}

.fa-plus{
  font-size: 12px;
  margin-right: 5px;
}

.text-response{
  height: 50px;
  background: #F8F8F8;
  padding: 14px 16px 14px;
  border-bottom: 1px solid #DFE0E2;
}

.text-response-form-wrapper, .suggestions-form-wrapper{
  position: relative;
  display: table;
  border-collapse: separate;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  display: flex;
  border-bottom: 1px solid #DFE0E2;
  box-sizing: border-box;
}

.text-response-form:focus, .suggestion-form:focus {
  box-shadow: none;
}

.text-response-wrapper, .suggestions-wrapper{
  border: 1px solid #DFE0E2;
  box-sizing: border-box;
  border-bottom: 0px;  
}

.text-response>h3{
  color: rgba(0,0,0,0.87);
  font-size: 16px;
  font-weight: 500;
  cursor: move;
  margin: 0;
}

.text-response-icons{
  display: block;
  position: relative;
}

.text-response-icons>.fa{
  font-size: 20px;
  color: #b7bbc4;
  display: table-cell;
  vertical-align: middle;
  padding-right: 6px;  
}

.param-actions>.dropdown>a>.glyphicon{
  color: #b7bbc4;
  font-size: 16px;
  padding-right: 5px;
  vertical-align: middle;
}

.param-actions>.dropdown>.dropdown-toggle>.glyphicon{
  color: #b7bbc4;
  font-size: 16px;
  padding-right: 5px;
}


.text-response-count, .suggestion-count{
  width: 40px;
  text-align: center;
  color: #b7bbc4;
  display: table-cell;
  vertical-align: middle;
  padding: 6px 12px;
  background-color: #F8F8F8;
}

.intent-parameters-table .param-actions {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}


.param-prompts-table{
  display: none;
}

.param-prompts-table>a{
  color: #337ab7;
}

.checkbox-title{
  margin-left: 8px;
  margin-right: 15px;
}

.ui-sortable-handle{
  background-color: #fff;
}

.animate-show {
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
    opacity: 1;
}
.alert-general {
    color: #fff;
    background: #9399a6;
}
.alert {
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 22px 23px 23px;
    margin: 10px 0 30px;
}


#append-user-expression>.input-group>.icon-set>a>.fa{
  color: #b7bbc4;
  font-size: 24px;
  margin-left: 10px;
  padding: 13px 0;
  padding-right: 12px;
  opacity: 0;
}

#append-user-expression>.input-group:hover .icon-set>a>.fa{
  opacity: 1;
}

.entity-entry:hover .click-here-edit{
  background-color: rgba(0,0,0,.05);
}

.entity-entry:hover .click-here-edit>.icon-set{
  opacity: 1;
}

.ref-value{
  border: 0;
}

.synonym{
  height: 44px;    
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: flex;
}

.synonym:focus{
  box-shadow: none;  
}

.padding-none{
  padding: 0;
}

.entity-entry-input{
  text-align: left;
  display: table;
  border-collapse: separate;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  display: flex;  
  box-sizing: border-box;
}

.entity-entry-input>span>input {
  height: 36px;
}

.ref-value{
  width: 29%;
}

.glyphicon:hover{
  color: #000;
}

.token {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #cacbcf;
  position: relative;
  padding: 7px 34px 8px 14px;
  line-height: 18px;
  font-weight: 300;
  color: #4b556b;
  cursor: default;
  margin: 1px;
}

.token:hover{
  background-color: rgba(0,0,0,.05);
}

.green {
  border-color: #37bc9b;
}

.token>button {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 0;
}

.token:hover button{
  opacity: 1;
}

.close {
  float: right;
  font-size: 21px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

.token>a>.dropdown-toggle>.glyphicon{
  padding: 0;
  color: #b7bbc4;
  font-size: 16px;
}

.token>a>.glyphicon{
  color: #b7bbc4;
  font-size: 16px;
}

.token-label{
  max-width: 156px;
}

.params-modal-head {
    color: #9399a6;
    text-transform: uppercase;
}

.params-attribute-cell {
  width: 33.3%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.params-attribute-cell>label {
  font-weight: 400;
}

.params-modal-attributes{
  margin-bottom: 15px;
}

.borderless{
  border: none;
}

.prompt-cell{
  position: relative;
  display: table;
  border-collapse: separate;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  display: flex;
}

.prompt-cell-count{
  color: #b7bbc4;
  display: table-cell;
  vertical-align: middle;
  padding: 7px 12px;
}

.prompt-row{
  width: 100%;
}

.params-modal-prompts {
  border-top: #E5E5E5 1px solid;
}

.prompt-cell-first {
  width: 40px;
  text-align: center;
  background-color: #F8F8F8;
}

.prompt-cell-second {
  padding-left: 45px;
}

.prompts-modal-description {
  padding: 10px 0;
  color: #9399a6;
  text-transform: uppercase;
}

.text-response-form, .suggestion-form{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: flex;
}

.prompt-table{
  width: 100%;
}

.prompt-cell>i{
  font-size: 20px;
  color: #b7bbc4;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0;
  padding-right: 16px;
  opacity: 0;
}

.token>button {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.token>button>.dropdown>.dropdown-toggle>.glyphicon{
  width: 10px; 
}

.token>button:focus{
  outline: 0;
  box-shadow: none; 
}

.training-page-tab-wrapper{
  margin-top: 80px;
}

.training-page-tabs{
  width: 100%;
  display: block;
  position: absolute;
  margin: 20px 0 0;
  padding: 0 0 0 20px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #dfe0e2;
  z-index: 9;
}

.training-tab{
  float: left;
  position: relative;
  font-weight: 400;
  padding: 0 0 16px;
  border-bottom: 1px solid #0488da;
}

.history-tab{
  float: left;
  position: relative;
  font-weight: 400;
  padding: 0 0 16px;
  margin-left: 28px;
}

.training-tab>a:hover{
  color: #0488da;
}

.history-tab>a:hover{
  color: #0488da;
}

.training-page>.list-wrapper>.list-group>.list-box{
  padding: 8px 0;
}

.training-link>.training{
  padding-left: 5px;
  padding-right: 20px;
}

.list-box>.fa-quote-right{
  padding: 0;
  padding-left: 15px;
}

.list-box>a>.training{  
  padding-left: 15px;
}

.prompt-cell:hover i{
  opacity: 1;
}

.modal-footer{
  border: 0;
}

tbody>tr>td>div>a>.glyphicon{
  opacity: 0;
}

tbody>tr>td>div>div>.glyphicon{
  opacity: 0;
}

tbody>tr:hover td>div>a>.glyphicon{
  opacity: 1;
}

tbody>tr:hover td>div>div>.glyphicon{
  opacity: 1;
}

.dropdown-menu>li>a>.number-spinner{
  width: 60px;
  padding: 5px;
  top: -7px;
  position: relative;
  border: 1px solid #dfe0e2; 
}

.param-actions>.dropdown{
  display: none;
}

/*.textcomplete-wrapper{
  position: relative;
}*/

.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.b-training-conversations-list-header {
    color: #9399a9;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    display: flex;
}

.flex-50 {  
  width: 50%;
}

.flex-15 {  
  width: 15%;
}

.flex-5 {  
  width: 5%;
}

.text-response-form-wrapper>.icon-set>a>.fa, .suggestions-form-wrapper>.icon-set>a>.fa {
    color: #b7bbc4;
    font-size: 20px;
    margin-left: 10px;
    padding: 7px 0;
    padding-right: 12px;
    opacity: 0;
}

.text-response-form-wrapper:hover .icon-set>a>.fa, .suggestions-form-wrapper:hover .icon-set>a>.fa{
  opacity: 1;
}

.entity-entry-table-wrapper{
  margin-top: 15px;
}

.entity-entry-list{
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.entity-entry{
  border-radius: 0!important;
  -webkit-border-radius: 0!important;
  border-bottom: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  position: relative;
    
}

.click-here-edit{
  cursor: pointer;
  padding: 8px 24px;
}

.entity-entry>.click-here-edit>span{
  width: 90%;
  font-weight: 300;
  text-align: center;
}

.entity-entry>.click-here-edit>.icon-set{
  opacity: 0;
}

.entity-entry>.click-here-edit>.icon-set>a>.fa{
  color: #b7bbc4;
  font-size: 18px;
  margin-left: 10px;
}

.entity-entry>.entity-entry-input>.icon-set>a>.fa{
  color: #b7bbc4;
  font-size: 24px;
  margin-left: 10px;
  padding: 10px 0;
  padding-right: 10px;  
}

.margin-none{
  margin: 0;
}

.margin-left-none{
  margin-left: 0;
}

.prompts-table>a{
  color: #0488da;
}




/* responsive text queries */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
  
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px){
  
  
}


/* Extra Extra Small Devices, Phones */ 
@media only screen and (max-width : 320px){
  
  
}